h1 {
	color:#365E93;
}
#bottom_buttons ul {
	margin: 0;
	padding: 0;
}
#bottom_buttons ul li {
	margin:0;
	padding:4px;
	list-style-type:none;
	background-color:#365E93;
	float:left;
	font-size:18px;
}
#bottom_buttons ul li a {
	color:#ffffff;
	text-decoration:none;
}
#bottom_buttons ul li a:hover {
	text-decoration:underline;
	background-color:#365E93;

}
