<h1>Editing activity</h1>

<% if params[:id] == 'all' %>
<%= render :partial => 'editallform' %>
<% else %>
<%= render :partial => 'editsingleform' %>
<% end %>

<%= # link_to 'Show', [@response, @activity] 
%> |
<%= # link_to 'Back', response_activities_path(@response) 
%>
